{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="full-page-center">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Voici ma première page en Symfony 7 !</p>
        <hr class="my-4">
        <img src="{{ asset('images/ghost_blade.jpg') }}" alt="Ghost Blade" class="img-fluid">
    </div>
{% endblock %}




