@import 'variables';

/* Page */
body {
    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;
    margin: 20px;
}

h1 {
    color: $primary-color;
    margin-bottom: 20px;
}

h2 {
    color: darken($primary-color, 10%);
    margin-bottom: 5px;
}

/* Article */
.post {
    background-color: $background-color;
    border: 1px solid lighten($text-color, 60%);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.post em {
    font-size: 0.9em;
    color: lighten($text-color, 40%);
}

.post .content {
    margin-top: 15px;
    line-height: 1.5;
}

.post p {
    margin: 5px 0;
}

.post hr {
    border: none;
    border-top: 1px solid lighten($text-color, 80%);
    margin-top: 20px;
}
